body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(pink, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: #ffffff;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 10px 1px 10px  rgb(255, 106, 218);
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #f93dff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}